.nav__timelines{
  padding:15px;
}

.nav__timeline{
  display: flex
}

.toggle{
  display: flex;
  align-items: center;
  flex:1;
  font-size:14px;
  //font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0);
  margin: 0 0 7px 0;
  border-radius: 3px;
  padding: 6px 6px;
  cursor: pointer;
  
  &--selected{
    border-color:#FFF;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  &__count{
    display: inline-block;
    opacity: .5;
    margin-left: 5px;;
  }
}

