.App {
  background-color: #282c34;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  color: white;
}

.timeline-dot{
  width:7px;
  height:7px;
  margin-right: 4px;
  border-radius:50%;
  background-color: #FFF;
  display: inline-block;
}