.App {
  background-color: #282c34;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  color: white;
}

.timeline-dot{
  min-width:9px;
  height:9px;
  margin-right: 4px;
  border-radius:50%;
  background-color: #FFF;
  display: inline-block;
  border: 1px solid #000
}

.nav-drawer{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}