{
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "extends": ["./config/eslint/index.js"],
  "globals": {},
  "rules": {
    "no-console":"warn",
    "no-debugger":"warn",
    "camelcase":"off",
    "no-param-reassign": 1,
    "arrow-body-style": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/click-events-have-key-events": 0
  }
}
