@import '../../assets/styles/variables';

.timeline{
  &__wrapper{
    display: flex;
    justify-content: center;
    height:100vh;
    overflow: auto;
    background:darken(#282c34,3);
    padding: 0 10px;
    border-top:0;
    border-bottom:0;
    @media only screen and (min-width: 600px) {
      padding: 0 20px;
    }
  }

  &__content{
    flex:1;
    max-width:700px;
    color:#FFF;
    padding:40px 0;
  }

  &__group{
    display: flex;
    align-items: flex-start;
    margin: 5px 0;
    // &--year{
    //   .event{
    //     margin-top: 15px;
    //   }
    // }
  }

  &__date{
    font-weight: bold;
    margin: 5px 0;
    margin-right:10px;
    display: inline-block;
    width:100px;
    text-align: right;

    &--year{
      font-size: 36px;
      font-weight: normal;
    }
    &--month{
      font-size: 18px;
      opacity: .7;
    }
    &--day{
      font-size: 14px;
      opacity: .4;
    }
  }

  &__events{
    display: inline-block;
    align-items: flex-start;
    flex:1
  }
}


.event{
  padding: 5px 5px;
  border-radius: 3px;
  margin-bottom:10px;
  position: relative;
  cursor: pointer;
  display:flex;
  align-items: flex-start;

  &:last-child{
    margin-bottom: 0;
  }

  &--selected{
    background-color: darken(#345E75,0)
  }

  @media only screen and (min-width: 600px) {
    &:hover{
      background-color: darken(#345E75,0)
    }
  }

  .timeline-dot{
    margin-top: 5px;
    margin-right: 8px;
  }

  &__title{
    display: inline-block;
    font-size:13px;
    @media only screen and (min-width: 600px) {
      font-size:inherit;
    }
  }
  
  &__label{
    background-color:$active;
    color:#282c34;
    border-radius: 3px;
    padding: 3px;
    font-weight: bold;
    font-size:11px;
  }
}