@import '../../assets/styles/variables';

.timeline{
  &__wrapper{
    display: flex;
    justify-content: center;
    height:100vh;
    overflow: auto;
    background:darken(#282c34,3);
    padding: 0 10px;
    border-top:0;
    border-bottom:0;
    @media only screen and (min-width: 600px) {
      padding: 0 20px;
    }
  }

  &__content{
    max-width:700px;
    color:#FFF;
    padding:70px 0;
  }

  &__group{
    display: flex;
    align-items: flex-start;
    margin: 5px 0;
    // &--year{
    //   .event{
    //     margin-top: 15px;
    //   }
    // }
  }

  &__date{
    font-weight: bold;
    margin: 5px 0;
    margin-right:10px;
    display: inline-block;
    width:100px;
    text-align: right;

    &--year{
      font-size: 36px;
      font-weight: normal;
    }
    &--month{
      font-size: 18px;
      opacity: .7;
    }
    &--day{
      font-size: 14px;
      opacity: .4;
    }
  }

  &__events{
    display: inline-block;
    align-items: flex-start;
    flex:1
  }
}