@import '../../assets/styles/variables';

.timeline__wrapper{
  flex:1;
  position: relative;
  overflow: scroll;
}

.timeline__content{
  padding:15px;
  position: absolute;
}
.event{
  padding: 0px 15px;
  border-radius: 3px;
  margin:2px;
  position: relative;

  &__date{
    font-weight: bold;
    margin: 5px 0;
    font-size: 18px;
    margin-right:10px;
    display: inline-block;
    width:70px;
    text-align: right;
  }

  &__label{
    background-color:$active;
    color:#282c34;
    border-radius: 3px;
    padding: 3px;
    font-weight: bold;
    font-size:11px;
  }
}